doctype

html(lang="ru")
  
  -var active = 'Все услуги' //активный пункт меню, список в header.jade
  -var pageTitle = 'Все услуги' + ' - НП-Клиника' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    .loader
      .loader__block
    
    include ./_include/_header
    
    // Content
    .content.content--all
      .container
        
        // Breadcrumbs
        ol.breadcrumb
          li
            a(href='#') НП-клиника 
          li.active Все услуги
        
        .row
          // Center collumn
          .col-sm-8
            
            .section__header.section__header--left
              .h1 Все услуги
            
            .services__nav.row
              .services__nav__block.col-xs-6
                .services__nav__head
                  figure
                    .img
                      .img__background
                      img(src="./tmp/services/services-1.png", alt="")
                  h3.services__nav__title Наркологическая помощь
                .services__nav__body
                  ul
                    li
                      a(href='#')
                        span Нарколог на дом
                      ul
                        li
                          a(href='#')
                            span Детоксикация
                        li
                          a(href='#')
                            span Вывод из запоя
                        li
                          a(href='#')
                            span Снятие наркотической ломки
                        li
                          a(href='#')
                            span Кодирование
                    li
                      a(href='#')
                        span Лечение алкоголизма 
                      ul
                        a(href='#')
                        li.active
                          a(href='#')
                            span Лечебная программа
                        li
                          a(href='#')
                            span Кодирование
                    li
                      a(href='#')
                        span Лечение наркозависимости
                      ul
                        a(href='#')
                        li
                          a(href='#')
                            span Лечебная программа 
                        li
                          a(href='#')
                            span Кодирование
                    li
                      a(href='#')
                        span Лечение табакокурения
                    li
                      a(href='#')
                        span Лечение игромании

                      
              .services__nav__block.col-xs-6
                .services__nav__head
                  figure
                    .img
                      .img__background
                      img(src="./tmp/services/services-2.png", alt="")
                    h3.services__nav__title Психиатрическая помощь
                .services__nav__body
                  ul
                    li
                      a(href='#')
                        span Психиатр на дом
                      ul
                        li
                          a(href='#')
                            span Консультация
                        li
                          a(href='#')
                            span Назначение терапии
                    li
                      a(href='#')
                        span Лечение депрессии 
                    li
                      a(href='#')
                        span Лечение шизофрении
                    li.active
                      a(href='#')
                        span Лечение неврологических расстройств
                    li
                      a(href='#')
                        span Лечение деменции
                    li
                      a(href='#')
                        span Детский психиатр
                    li
                      a(href='#')
                        span Психиатр для пожилых пациентов

          
            .services__nav.row
              .services__nav__block.col-xs-6
                .services__nav__head
                  figure
                    .img
                      .img__background
                      img(src="./tmp/services/services-3.png", alt="")
                    h3.services__nav__title Психотерапевтическая помощь
                .services__nav__body
                  ul
                    li: a(href="#") 
                      span Психотерапия при алкогольной и наркотической зависимости
                    li: a(href="#") 
                      span Реабилитация 12 шагов
                    li: a(href="#") 
                      span Психотерапия пси психических расстройствах
                    li: a(href="#") 
                      span Гипноз
                    li: a(href="#") 
                      span Когнитивно-поведенческая психотерапия
                      
              .services__nav__block.col-xs-6
                .services__nav__head
                  figure
                    .img
                      .img__background
                      img(src="./tmp/services/services-1.png", alt="")
                    h3.services__nav__title Диагностика
                .services__nav__body
                  ul
                    li: a(href="#") 
                      span Тестирование(анализ) на наркотические вещества
                    li: a(href="#") 
                      span Диагностика по крови на психические заболевания
                    li: a(href="#") 
                      span Оценка лечебно-реабилитационного потенциала

          
          // Right collumn
          .col-sm-4
            
            include _include/_right_collumn
            
    
    include ./_include/_footer
    //- div(style="height: 1500px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/respond/respond.min.js'><![endif]

    script(src='./js/libs/jquery/jquery-2.1.4.min.js')
    script(src='./js/libs/jquery/jquery-migrate-1.2.1.min.js')
    script(src='./js/libs/modernizr/modernizr.js')
    script(src='./js/libs/vendor.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
