doctype

html(lang="ru")
  
  -var active = 'Специалисты' //активный пункт меню, список в header.jade
  -var pageTitle = 'Наши специалисты' + ' - НП-Клиника' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    .loader
      .loader__block
    
    include ./_include/_header
    
    // Content
    .content.content--all
      .container
        
        // Breadcrumbs
        ol.breadcrumb
          li
            a(href='#') НП-клиника 
          li.active Специалисты
        
        .row
          // Center collumn
          .col-sm-8
            
            .section__header.section__header--left
              .h1 Наши специалисты
            
            p.introtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
            
            // Specialist
            .specialist(id="accordion" role="tablist" aria-multiselectable="true")
              .specialist__row
                a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne").specialist__block
                  div
                    i.ion-plus-circled
                    i.ion-minus-circled
                    img.img(src="./tmp/specialist/specialist1.png", alt="")
                  div
                    .specialist__title Антипенко Виктор Николаевич
                    small Ведущий психиатр-нарколог
                    p Врач-психиатр, психиатр-нарколог. Аттестован на высшую категорию по психиатрии, на первую категорию врача 
                #collapseOne.specialist__info.collapse(role="tabpanel" aria-labelledby="headingOne")
                  h3 Образование и повышение квалификации: 
                  p Витебский государственный мединститут. Лечебный факультет. Специальность: лечебное дело 1980-1986, интернатура 1986-1987, специальность: врач психиатр-нарколог.
                  p Ленинградский НИИ им. В.М. Бехтерева — усовершенствование по психотерапии 1991. Клиническая ординатура на кафедре психиатрии и наркологии Витебского государственного мединститута 1992- 1994 — специальность: психиатрия. Курсы повышения квалификации на кафедрах психиатрии и психотерапии Белорусской медицинской академии последипломного  образования (всего 8 раз).
                  p В декабре 2011 – январе 2012 прошел повышение квалификации в Российском университете дружбы народов и получил сертификат по специальности «психиатрия-наркология».
                  
                  h3 Опыт работы:
                  p С августа 1986 г. — по апрель 2012 г.: Полоцкая областная психиатрическая больница. От врача-интерна до  заведующего диспансерным отделением.
                  
                  h3 Профессиональные навыки:
                  p Уверенно провожу практически диагностику, фармакологическое и психотерапевтическое лечение психических и поведенческих расстройств, использую эксперементально-психологическое тестирование.
                  p Предпочтение в работе — невротические расстройства и химические зависимости. Большой опыт лечения тревожно-депрессивных состояний, расстройств адаптации, абстинентных состояний, в т.ч. на дому, проведение эмоционально — стрессовых сеансов, долгосрочной психотерапевтической коррекции в биопсихосоциальном подходе к зависимостям, имею опыт работы в программах «снижения вреда», «заместительной терапии».
                  p Получил сертификат «гештальт-терапевта» после трехлетнего обучения в Московском Гештальт Институте, там же годичная специализация по лечению зависимостей и зависимых отношений в гештальт-подходе. Прошел курс годичной  подготовки по телесноориентированной психотерапии в Белорусском республиканском общественном объединении личностно-ориентированных психотерапевтов.  Сотрудничаю с региональными группами «Анонимных алкоголиков».
                  
              .specialist__row
                a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo").specialist__block
                  div
                    i.ion-plus-circled
                    i.ion-minus-circled
                    img.img(src="./tmp/specialist/specialist2.png", alt="")
                  div
                    .specialist__title Антипенко Виктор Николаевич
                    small Ведущий психиатр-нарколог
                    p Врач-психиатр, психиатр-нарколог. Аттестован на высшую категорию по психиатрии, на первую категорию врача 
                #collapseTwo.specialist__info.collapse(role="tabpanel" aria-labelledby="headingOne")
                  h3 Образование и повышение квалификации: 
                  p Витебский государственный мединститут. Лечебный факультет. Специальность: лечебное дело 1980-1986, интернатура 1986-1987, специальность: врач психиатр-нарколог.
                  p Ленинградский НИИ им. В.М. Бехтерева — усовершенствование по психотерапии 1991. Клиническая ординатура на кафедре психиатрии и наркологии Витебского государственного мединститута 1992- 1994 — специальность: психиатрия. Курсы повышения квалификации на кафедрах психиатрии и психотерапии Белорусской медицинской академии последипломного  образования (всего 8 раз).
                  p В декабре 2011 – январе 2012 прошел повышение квалификации в Российском университете дружбы народов и получил сертификат по специальности «психиатрия-наркология».
                  
                  h3 Опыт работы:
                  p С августа 1986 г. — по апрель 2012 г.: Полоцкая областная психиатрическая больница. От врача-интерна до  заведующего диспансерным отделением.
                  
                  h3 Профессиональные навыки:
                  p Уверенно провожу практически диагностику, фармакологическое и психотерапевтическое лечение психических и поведенческих расстройств, использую эксперементально-психологическое тестирование.
                  p Предпочтение в работе — невротические расстройства и химические зависимости. Большой опыт лечения тревожно-депрессивных состояний, расстройств адаптации, абстинентных состояний, в т.ч. на дому, проведение эмоционально — стрессовых сеансов, долгосрочной психотерапевтической коррекции в биопсихосоциальном подходе к зависимостям, имею опыт работы в программах «снижения вреда», «заместительной терапии».
                  p Получил сертификат «гештальт-терапевта» после трехлетнего обучения в Московском Гештальт Институте, там же годичная специализация по лечению зависимостей и зависимых отношений в гештальт-подходе. Прошел курс годичной  подготовки по телесноориентированной психотерапии в Белорусском республиканском общественном объединении личностно-ориентированных психотерапевтов.  Сотрудничаю с региональными группами «Анонимных алкоголиков».
          
          // Right collumn
          .col-sm-4
            
            include _include/_right_collumn
    
    include ./_include/_footer
    //- div(style="height: 1500px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/respond/respond.min.js'><![endif]

    script(src='./js/libs/jquery/jquery-2.1.4.min.js')
    script(src='./js/libs/jquery/jquery-migrate-1.2.1.min.js')
    script(src='./js/libs/modernizr/modernizr.js')
    script(src='./js/libs/vendor.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
